<p>
  position-transfer-requests works!
</p>
<h2>{{$noOfRequests | async}}</h2>

<form class="example-form"> 
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Client" aria-label="Client" matInput [formControl]="clientFormControl" [matAutocomplete]="auto" autofocus> 
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayClientFn">
      <mat-option *ngFor="let client of filteredClientOptions | async" [value]="client">
        {{client.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>