table {
    border-collapse: collapse;
    //width: 300px;
    border: 1px solid #ddd;
    table-layout: auto;
}

th, td {
    padding:15px;
    text-align: left;
}

.table-div {
    overflow-x: auto;
    
}

tr:nth-child(even) {
    background-color: lightgray;
}
